.loading-spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.loading-spinner-small {
  width: 24px;
  height: 24px;
}

.loading-spinner-medium {
  width: 48px;
  height: 48px;
}

.loading-spinner-large {
  width: 64px;
  height: 64px;
}

.spinner-ring {
  position: absolute;
  border: 3px solid transparent;
  border-top-color: #0071e3;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-spinner-small .spinner-ring {
  width: 24px;
  height: 24px;
  border-width: 2px;
}

.loading-spinner-medium .spinner-ring {
  width: 48px;
  height: 48px;
  border-width: 3px;
}

.loading-spinner-large .spinner-ring {
  width: 64px;
  height: 64px;
  border-width: 4px;
}

.spinner-ring:nth-child(1) {
  animation-delay: 0s;
}

.spinner-ring:nth-child(2) {
  animation-delay: 0.2s;
  border-top-color: rgba(0, 113, 227, 0.7);
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
}

.spinner-ring:nth-child(3) {
  animation-delay: 0.4s;
  border-top-color: rgba(0, 113, 227, 0.5);
  width: 40%;
  height: 40%;
  top: 30%;
  left: 30%;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}



