.scroll-reveal {
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
}

.scroll-reveal-up {
  transform: translateY(50px);
}

.scroll-reveal-down {
  transform: translateY(-50px);
}

.scroll-reveal-left {
  transform: translateX(50px);
}

.scroll-reveal-right {
  transform: translateX(-50px);
}

.scroll-reveal.visible {
  opacity: 1;
  transform: translate(0, 0);
}


